#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# JetBrains IDE
.idea/

# Misc
ip_address.txt

# Ansible
provision.retry
/roles/geerlingguy.pip/
/roles/geerlingguy.supervisor/
